@CHARSET "UTF-8";
/* gallery */
body {
	position: relative;
}

.affix {
	bottom: 15%;
	right: 0%;
	z-index: 9999 !important;
	
}

#myGuideNavbar{
	float: right;
}

.navbar {
	margin-top: 0px;
}

.affix ~ .container-fluid {
	top: 50px;
}

#section1 {
	padding-top: 20px;
	padding-bottom: 50px;
}

#section2 {
	padding-top: 20px;
	padding-bottom: 50px;
}

#section3 {
	padding-top: 20px;
	padding-bottom: 50px;
}

#section4 {
	padding-top: 20px;
	padding-bottom: 50px;
}

#mOver {
	cursor: pointer;
}